/* Home */

#home {
    height: 818px;
}

.headings {
    font-size: 1.7rem;
}


/* About */

#pic img {
    width: 240px;
    height: 240px;
}

#intro h2 {
    font-size: 1.5rem;
}


/* Portfolio */

.gallery img {
    width: 250px;
    height: 230px;
    margin: 10px;
}


/* Contact Me*/

.input {
    width: 80%;
}

.msg {
    width: 70%;
}

.send {
    width: 20%;
}