* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Navigation Section */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .8s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}


/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img5.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 5%;
}

.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.btn {
    text-decoration: none;
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    font-weight: bold;
}

.btnn {
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    border-radius: 3px;
    font-weight: bold;
}


/* About Me Section*/

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    width: 500px;
    height: 440px;
    border-radius: 20px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}


/* Portfolio Section*/

#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img {
    width: 400px;
    height: 380px;
    margin: 10px;
}


/* Services Section*/

#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(255, 45, 45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .9s;
}

.box:hover {
    background-position: bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgba(255, 45, 45);
}

.box img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}


/* Contact  Section*/

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}


/*  logo  */

.buttons {
    display: inline-block;
    text-align: center;
}