* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    margin-left: 10px;
}

.logo {
    font-size: 45px;
    margin-left: 20px;
    position: absolute;
    font-weight: 5000;
    color: rgb(21, 21, 22);
    margin-top: -20px;
    cursor: pointer;
}

.options {
    position: relative;
    font-size: large;
    cursor: pointer;
    cursor: pointer;
    float: center;
    color: rgb(85, 84, 84);
    margin-left: 400px;
    margin-top: 60px;
}

a {
    margin-right: 75px;
}

.cont {
    float: right;
    background-color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border-color: rgb(193, 194, 195);
    color: rgb(85, 84, 84);
    margin-right: 20px;
    margin-top: -30px;
}

.desc {
    margin-top: 150px;
    font-size: 40px;
    margin-left: 20px;
    float: left;
}

.lists {
    margin-left: 25px;
    list-style-image: url("3.png");
    font-size: 20px;
    line-height: 4em;
}


/*.lists::before {
    content: url("liststyle.jpg");
    display: inline-block;
    height: 1px;
    width: 1px;
    overflow: hidden;
}*/

.text {
    position: relative;
    border: 1px #ccc5c5 solid;
    width: 400px;
    float: left;
    height: 50px;
    border-radius: 9px;
    font-size: 20px;
}

.btn {
    position: absolute;
    left: 0px;
    top: 5px;
    height: 40px;
    width: 80px;
    background-color: rgb(36, 135, 255);
    color: rgb(255, 255, 255);
    border-color: rgb(36, 135, 255);
    border-radius: 8px;
    box-shadow: none;
    font-size: 18px;
    margin-left: 315px;
}

.hero {
    float: right;
    position: absolute;
    height: 500px;
    width: 800px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 150px;
}