* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

.main {
    margin: 0px;
    position: relative;
    height: 50px;
    width: 100%;
    padding: 10px 0 0 0px;
    box-shadow: 0 1px 10px -1px rgb(0 0 0 / 20%);
}

.info {
    cursor: pointer;
}

.logo {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 40px;
    margin-top: 5px;
}

.work {
    font-size: 25px;
    color: black;
    width: 100px;
    margin-top: 0px;
    padding-bottom: 10px;
    position: absolute;
    left: 75px;
}

.nav {
    position: absolute;
    width: 50%;
    left: 230px;
    height: 100%;
    margin-top: 8px;
    color: #808080;
    font-size: 14px;
}

li {
    cursor: pointer;
}

a {
    margin-right: 35px;
}

a:hover {
    border-bottom: 2px solid #6366F1;
    color: black;
    padding-bottom: 25px;
}

.box {
    width: 32%;
    height: inherit;
    position: relative;
    float: right;
}

input {
    position: relative;
    border: 1px #ccc5c5 solid;
    width: 300px;
    float: left;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 30px;
}

.bell {
    position: absolute;
    right: 65px;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.searchicon {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
}

.user {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    margin-top: 0px;
}